<div class="row">
    <div class="col-xs-6">
        <h3>Ultimos Agregados <small>Actualizado el 21 Octubre 2015</small></h3>
    </div>
    <div class="col-xs-6">
        <nav>
            <ul class="pagination pull-right">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>

<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="http://lorempixel.com/300/250/city/6" alt="Generic placeholder thumbnail">
            <div class="caption">
                <h4>"El Abuelo" Hotel </h4>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <table class="table table-condensed">
                    <tr>
                        <td><span class="glyphicon glyphicon-play-circle"></span> <b>Tipo</b></td>
                        <td><code>Habitaciones</code></td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-time"></span> <b>Disponibles</b></td>
                        <td>4 und.</td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-ok-circle"></span> <b>Costo unidad</b></td>
                        <td>10 S/.</td>
                    </tr>
                </table>
                <p>
                    <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-zoom-in"></span> detalles</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="http://lorempixel.com/300/250/city/2" alt="Generic placeholder thumbnail">
            <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <table class="table table-condensed">
                    <tr>
                        <td><span class="glyphicon glyphicon-play-circle"></span> <b>Tipo</b></td>
                        <td><code>Departamento</code></td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-time"></span> <b>Disponibles</b></td>
                        <td>4 und.</td>
                    </tr>
                    <tr>
                        <td><b>Costo unidad</b></td>
                        <td>10 S/.</td>
                    </tr>
                </table>
                <p>
                    <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-zoom-in"></span> detalles</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="http://lorempixel.com/300/250/city/3" alt="Generic placeholder thumbnail">
            <div class="caption">
                <h4>
                    Hotel Tacna
                </h4>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <table class="table table-condensed">
                    <tr>
                        <td><span class="glyphicon glyphicon-play-circle"></span> <b>Tipo</b></td>
                        <td><code>Casa</code></td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-time"></span> <b>Disponibles</b></td>
                        <td>4 und.</td>
                    </tr>
                    <tr>
                        <td><b>Estrellas</b></td>
                        <td>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </td>
                    </tr>
                </table>
                <p>
                    <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-zoom-in"></span> detalles</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="http://lorempixel.com/300/250/city/4" alt="Generic placeholder thumbnail">
            <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <table class="table table-condensed">
                    <tr>
                        <td><span class="glyphicon glyphicon-play-circle"></span> <b>Tipo</b></td>
                        <td><code>Local Comercial</code></td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-time"></span> <b>Disponible</b></td>
                        <td>4 und.</td>
                    </tr>
                    <tr>
                        <td><b>Costo unidad</b></td>
                        <td>10 S/.</td>
                    </tr>
                </table>
                <p>
                    <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-zoom-in"></span> detalles</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="http://lorempixel.com/300/250/city/7" alt="Generic placeholder thumbnail">
            <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <table class="table table-condensed">
                    <tr>
                        <td><span class="glyphicon glyphicon-play-circle"></span> <b>Tipo</b></td>
                        <td><code>Habitaciones</code></td>
                    </tr>
                    <tr>
                        <td><b>Disponibles</b></td>
                        <td>4 und.</td>
                    </tr>
                    <tr>
                        <td><b>Costo unidad</b></td>
                        <td>10 S/.</td>
                    </tr>
                </table>
                <p>
                    <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-zoom-in"></span> detalles</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="http://lorempixel.com/300/250/city/8" alt="Generic placeholder thumbnail">
            <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <table class="table table-condensed">
                    <tr>
                        <td><span class="glyphicon glyphicon-play-circle"></span> <b>Tipo</b></td>
                        <td><code>Habitaciones</code></td>
                    </tr>
                    <tr>
                        <td><b>Disponibles</b></td>
                        <td>4 und.</td>
                    </tr>
                    <tr>
                        <td><b>Costo unidad</b></td>
                        <td>10 S/.</td>
                    </tr>
                </table>
                <p>
                    <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-zoom-in"></span> detalles</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="http://lorempixel.com/300/250/city/9" alt="Generic placeholder thumbnail">
            <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <table class="table table-condensed">
                    <tr>
                        <td><span class="glyphicon glyphicon-play-circle"></span> <b>Tipo</b></td>
                        <td><code>Habitaciones</code></td>
                    </tr>
                    <tr>
                        <td><b>Disponibles</b></td>
                        <td>4 und.</td>
                    </tr>
                    <tr>
                        <td><b>Costo unidad</b></td>
                        <td>10 S/.</td>
                    </tr>
                </table>
                <p>
                    <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-zoom-in"></span> detalles</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="http://lorempixel.com/300/250/city/10" alt="Generic placeholder thumbnail">
            <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <table class="table table-condensed">
                    <tr>
                        <td><span class="glyphicon glyphicon-play-circle"></span> <b>Tipo</b></td>
                        <td><code>Habitaciones</code></td>
                    </tr>
                    <tr>
                        <td><b>Disponibles</b></td>
                        <td>4 und.</td>
                    </tr>
                    <tr>
                        <td><b>Costo unidad</b></td>
                        <td>10 S/.</td>
                    </tr>
                </table>
                <p>
                    <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-zoom-in"></span> detalles</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <nav>
            <ul class="pagination pull-left">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

